<?xml version="1.0"?>

<model>
    <name>bottle</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Ahmet Rauf OKTAY</name>
        <email>ahmeytoktay@gmail.com</email>
    </author>

    <description>
        Bottle model
    </description>
</model>
